.nutrition {
    display: flex;
    flex-direction: column;
    gap: var(--space-large);
}

.nutrition-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

.nutrition-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
}

/* Week */

.nutrition-nav {
    display: flex;

    border: 1px solid var(--color-primary);
    border-radius: var(--space-base);

    padding: var(--space-extra-small);
}

.nutrition-day {
    padding: var(--space-extra-small) var(--space-small);

    border-radius: var(--space-base);
    cursor: pointer;
    text-align: center;

    flex: 1;

    transition: background-color 0.3s, color 0.3s;
}

.nutrition-day:hover {
    background-color: var(--background-primary);
}

.nutrition-day.active {
    background-color: var(--color-primary);
    color: var(--background-secondary);
}

/* Meals */

.nutrition-meals {
    display: flex;

    background-color: var(--background-primary);
    border-radius: var(--space-base);

    padding: var(--space-extra-small);
}

.nutrition-meal {
    padding: var(--space-extra-small) var(--space-small);

    border-radius: var(--space-base);
    cursor: pointer;
    font-size: var(--font-size-small);
    text-align: center;

    flex: 1;

    transition: background-color 0.3s;
}

.nutrition-meal.active {
    background-color: var(--background-secondary);
}
