.dashboard {
    display: flex;
    flex-direction: column;
    gap: var(--space-large);
}

.dashboard-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

.dashboard-section,
.dashboard-stats {
    border: 1px solid var(--color-primary);
    border-radius: var(--space-base);

    display: flex;
    flex-direction: column;
    gap: var(--space-medium);

    padding: var(--space-medium);

    transition: transform 0.3s;
}

.dashboard-section:hover {
    transform: scale(1.01);
}

.dashboard-label,
.dashboard-stats-label {
    display: flex;
    align-items: center;
    gap: var(--space-base);
}

/* Workout */

.dashboard-workout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-workout-details {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

.dashboard-workout-metrics {
    display: flex;
    gap: var(--space-base);
}

.dashboard-workout-metrics li {
    display: flex;
    align-items: center;
    gap: var(--space-small);
}

/* Nutrition */

.dashboard-nutrition {
    display: flex;
    gap: var(--space-large);
}

.dashboard-nutrition-macro {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    flex: 1;
}

.dashboard-nutrition-details {
    display: flex;
    justify-content: space-between;
}

.dashboard-nutrition-bar {
    height: 0.5rem;

    background-color: var(--background-primary);
    border-radius: var(--space-base);
}

.dashboard-nutrition-bar-fill {
    height: 100%;

    background-color: var(--color-primary);
    border-radius: var(--space-base) 0 0 var(--space-base);
}

/* Stats */

.dashboard-stats-section {
    display: flex;
    gap: var(--space-medium);
}

.dashboard-stats {
    gap: var(--space-base);
    flex: 1;
}

.dashboard-stats:hover {
    transform: scale(1.025);
}

.dashboard-stats-label {
    gap: var(--space-small);
}