.app {
    display: flex;
    gap: 2rem;

    height: calc(100vh - 4rem);
    margin: 2rem;
}

.main {
    background-color: var(--background-secondary);
    border-radius: var(--space-base);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);

    padding: var(--space-large);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.main-footer {
    text-align: center;
}
