/* Titles */

.title-primary {
    color: var(--color-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.title-secondary {
    color: var(--text-primary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

/* Labels */

.label-primary {
    color: var(--text-primary);
    font-weight: var(--font-weight-semibold);
}

.label-secondary {
    color: var(--text-secondary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
}

/* Texts */

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
    font-size: var(--font-size-small);
}

/* Buttons */

.button-primary {
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--space-base);
    color: var(--background-secondary);
    cursor: pointer;

    padding: var(--space-small) var(--space-base);

    transition: transform 0.3s;
}

.button-primary:hover {
    transform: scale(1.025);
}

.button-secondary {
    background-color: var(--background-secondary);
    border: 1px solid var(--color-primary);
    border-radius: var(--space-base);
    color: var(--color-primary);
    cursor: pointer;

    padding: var(--space-small) var(--space-base);

    transition: background-color 0.3s;
}

.button-secondary:hover {
    background-color: var(--background-primary);
}

/* Form */

.form-label {
    color: var(--text-primary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
}

.form-input {
    padding: var(--space-small) var(--space-base);

    background-color: var(--background-primary);
    border: 1px solid transparent;
    border-radius: var(--space-base);
    color: var(--text-primary);
    font-size: var(--font-size-small);
    outline: none;

    transition: border 0.3s;
}

.form-input::placeholder {
    color: var(--text-secondary);
}

.form-input:focus {
    border: 1px solid var(--color-primary);
}

.form-button {
    font-size: var(--font-size-small);
}
